body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f4f6f9;
    margin: 0;
    width: 100%;
}

.payment-container {
    background: #fff;
    padding: 35px;
    border-radius: 15px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
    margin-top: 55px;
    transition: transform 0.3s ease;
}

.payment-container:hover {
    transform: translateY(-5px);
}

.payment-container img {
    width: 120px;
    margin-bottom: 20px;
    margin-left: 5px;
}

h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
    font-weight: 600;
}

input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 14px;
    background-color: #f9f9f9;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

input:focus {
    border-color: #000000;
    outline: none;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #000000;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #000000;
}

.no-account {
    margin-top: 20px;
}

.no-account p {
    font-size: 14px;
    color: #333;
    margin-bottom: 10px;
}

.connexion-btn {
    width: 100%;
    padding: 12px;
    background-color: #000000; /* Couleur du bouton "Se connecter" */
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.connexion-btn:hover {
    background-color: #000000; /* Couleur au survol */
}

/* Adaptations pour les écrans mobiles */
@media (max-width: 768px) {
    .payment-container {
        width: 90%;
        padding: 25px;
    }

    h2 {
        font-size: 20px;
    }

    input {
        padding: 10px;
        font-size: 14px;
    }

    button {
        padding: 14px;
        font-size: 18px;
    }

    .payment-container img {
        width: 100px;
    }
}

/* Adaptations pour les petits écrans mobiles */
@media (max-width: 480px) {
    .payment-container {
        width: 90%;
        padding: 20px;
    }

    h2 {
        font-size: 18px;
    }

    input {
        padding: 10px;
        font-size: 12px;
    }

    button {
        padding: 15px;
        font-size: 16px;
    }

    .payment-container img {
        width: 80px;
    }
}
