/* Reset des styles de base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.8;
    background-color: #f4f4f4;
    color: #333;
    width: 100%;
    margin-left: -110px; /* decallage page droite ou gauche en fct du - ou +*/

}

header {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 130px;
    margin-left: 20px;
    margin-right: -110px; /* decallage bloc noir haut vers droite  */
    font-family: Verdana, Geneva, Tahoma, sans-serif;


}

header .logo h1 {
    font-size: 1.5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 90px;
    font-size: 19px; /*hauteur bloc noir*/

}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 11px;
    margin-left: 105px;
} 








.product li {
    list-style: none;
    background-color: #333;
}
.product li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 28px;
}



main {
    padding: 25px;
}

.products {
    margin-left: 100px;
    margin-bottom: 70px;
}
.product {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    width: calc(33.333% - 50px);
    text-align: center;
    margin-top: 30px;
}

.product img {
    max-width: 100%;
    height: auto;
}

.product h2 {
    font-size: 27px;
    margin: 10px 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.product p {
    font-size: 0.9rem;
    color: #666;
}

.product .price {
    font-size: 1.1rem;
    color: #333;
    font-weight: bold;
    margin: 10px 0;

}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
    margin-left: 30px;
    width: 105%;
}
.present h1 {
    font-size: 20px;
    margin-left: 180px;
    margin-top: 70px;
}
.present h2 {
    font-size: 20px;
    margin-left: 180px;
    margin-top: 40px;
}
.present h3 {
    font-size: 20px;
    margin-left: 600px;
    margin-top: 25px;

}
.present h4 {
    font-size: 20px;
    margin-left: 180px;
    margin-top: 30px;
}